* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem;

    .logo {
        font-size: x-large;
    }
}

nav {
    display: flex;
    gap: 1rem;
}

main {
    background-color: darkgreen;

    h1 {
        padding: 1rem;
    }
}

footer {
    background-color: yellow;
}