* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem;

    .logo {
        font-size: x-large;
    }
}

nav {
    display: flex;
    gap: 1rem;

    a {
        text-decoration: none;
    }
}

.active {
    text-decoration: underline;
    color: white;
}

main {
    background-color: darkgreen;
    min-height: 100vh;

    h1 {
        padding: 1rem;
    }
}

footer {
    background-color: yellow;
    padding: 1rem;
}